<% if @merchant %>
  <%= link_to "New Item", "/merchants/#{@merchant.id}/items/new"%>
<% end %>

<% @items.each do |item| %>
 <section id="item-<%= item.id %>">
    <%= item.name %><br>
    <%= item.price %><br>
    <%= item.description %><br>
    <%= image_tag item.image %><br>
    <% if item.active? %>
      Active
    <% else %>
      Inactive
    <% end %><br>
    <%= item.inventory %><br>
  </section>
<% end %>